*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #2F4958;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.calculadora{
    background-color:#000000 ;
    width: 300px; /* ficava esticando sem uma largura pré definida*/
    padding: 17px;
    border-radius: 20px;
    color: white;
    box-shadow: 8px 8px 1px #0000004d; 
}

#visor{
    width: 100%;
    padding-top: 30px;
    background-color: rgb(32, 32, 32);
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: 4px 5px 1px rgba(185, 176, 176, 0.3);
}

#resultado{
    width: 98%;
    height: 40px;
    font-size: 40px;
    text-align: right;
    overflow-x: auto;
    overflow-y: hidden;
}

::-webkit-scrollbar{
    height: 4px;
}

::-webkit-scrollbar-track{
    background-color: #585858;
}

::-webkit-scrollbar-thumb{
    background-color: #0089d8;
    cursor: pointer;
}

.botao{
    background-color: #252525;
    padding: 10px 25px;
    margin: 3px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 14px;

}

img{
    width: 10px;
    height: 20px;
}

.botao{
    box-shadow: 4px 5px 1px rgba(73, 73, 73, 0.3); 
}

tr{
    width: 100%;
}

.botao:hover{
    transition: 0.5s;
    background-color: #0089d8;
}

#azul{
    background-color: #0089d8;
}








