*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #2F4958;
}

.calculadora{
    position: absolute;
    background-color:#000000 ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 17px;
    border-radius: 20px;
    color: white;
    box-shadow: 8px 8px 1px #0000004d; 
}

#visor{
    padding: 20px;
    background-color: rgb(32, 32, 32);
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: 4px 5px 1px rgba(92, 92, 92, 0.3);
}

#resultado{
    width: 100%;
    height: 40px;
    font-size: 40px;
    text-align: right;
}

.botao{
    background-color: #252525;
    padding: 10px 25px;
    margin: 3px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 14px;

}

img{
    width: 10px;
    height: 20px;
}

.botao{
    box-shadow: 4px 5px 1px rgba(73, 73, 73, 0.3); 
}

tr{
    width: 100%;
}

.botao:hover{
    transition: 0.5s;
    background-color: #0089d8;
}

#azul{
    background-color: #0089d8;
}








